---
title: Gallery
layout: tataletak.njk
---
<div class="row2">
    <div class="column">
        <img src="/foto/itera.jpg" style="width:100%">
        <img src="/foto/itera.jpg" style="width:100%">
        <img src="/foto/itera.jpg" style="width:100%">
    </div>
    <div class="column">
        <img src="/foto/itera_logo.png">
        <img src="/foto/myhome.jpg">
        <img src="/foto/myhome.jpg">
    </div>
</div>